@use "_variables" as variable;
@use "_mixins" as mixin;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// GENERAL STYLE
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variable.$background-color;
    font-family: 'Rowdies', cursive;
    color: variable.$main-color;
    font-size: 20px;
    width: 100%;
    overflow-x: hidden;
}

a:active, a:visited, a {
    color: variable.$main-color;
    text-decoration: none;
}

a:hover{
    color: variable.$secondary-color;
}

button {
    cursor: pointer;
    background-color: lighten(variable.$secondary-color, 15%);
    color: variable.$main-color;
    font-weight: 700;
    border: 1px solid variable.$main-color;
    border-bottom: 3px solid variable.$main-color;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    position: relative;
    &:hover {
        background-color: lighten(variable.$secondary-color, 10%);
    }
    a:hover {
        color: variable.$main-color;
    }
}

h1 {
    text-transform: uppercase;
    @include mixin.font("'Rowdies', cursive;", 700, 3.5rem);
    text-transform: initial;
    line-height: 3rem*1.2;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem*1.2;
    margin: 2rem 0 1rem 0;
}

h1, h2{
    letter-spacing: -0.5px;
    padding: 0 1rem;

}

p{
    width: 100%;
    text-align: center;
    font-family:'Vollkorn', serif;
    text-align: center;
    line-height: 1rem*1.5;
}

// DIFFERENT SECTIONS OF THE HTML FILE
header {
    @include mixin.display(flex, space-between, center);
    padding-right: 10px;
    width: 100%;
    height: 100px;
    figure{
            img {
                width: 7rem; 
                align-items: center;
                margin-top: 15px;
            }
    }
    .mobile-nav-toggle {
        display: none;
    }    
    nav {
        text-transform: uppercase;
        .primary-navigation {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000;
            background-color: rgba(variable.$background-color, 0.7);
            padding: 30px 0;
            margin-top: 20px;
            border-radius: 10px 0 0 10px;
            @include mixin.display(flex, center, center);
            li{
                list-style-type: none;
                padding: 0 15px;
                a {
                    position: relative;
                    text-decoration: none;
                    color: variable.$main-color;
                    &:after {
                        position: absolute;
                        content: "";
                        background-color: lighten(variable.$secondary-color, 15%);
                        height: 15px;
                        width: 0;
                        top: 10px;
                        left: 5px;
                        transition: 0.5s;
                        z-index: -1;
                    }
                    &:hover:after {
                        width: 100%
                    }
                }
            }
        }      
    }   
}

@supports (backdrop-filter: blur(1rem)) {
    header{
        nav{
            .primary-navigation {
            background-color: rgba(variable.$background-color, 0.5);
            backdrop-filter: blur(0.5rem);
            }
        }
    }
}

#hero {
    @include mixin.display(flex, center, center);
    #hero-container{
        @include mixin.display(grid, space-around, center);
        grid-template-columns: 1fr 3fr;
        max-width: 1300px;
        margin: 0 1.5rem;
    }
    article:first-child{
        h1{
            strong{
                font-family:'Vollkorn', serif;
                font-style: italic;
            }
        }
    }
    article:nth-child(2) {
        @include mixin.display(flex, center, center);
        img { 
            width: 100%;
        }
    } 
}

#characteristics {
    h2 {
        position: relative;
        color: transparent;
        -webkit-text-stroke: 1.5px variable.$main-color;
    }
    article {
        margin: auto;
        padding: 1rem;
        @include mixin.display(flex, center, center);
        column-gap: 3rem;
        text-align: center;
        div {
            max-width: 500px;
            img{
                height: 150px;
            }
        }
    }
}

.wrapper, .carousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

#slider {
    @include mixin.display (flex, center, center);
    height: 700px;
    background-image: url("../img/background-lines.PNG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper{
        max-width: 1200px;
        position: relative;
        flex-direction: column;
        padding: 1.5rem;
        .carousel {
            img {
                height: 340px;
                object-fit: cover;
                margin-left: 14px;
                width: calc(100% / 3);
                &:first-child{
                    margin-left: 0;
                }
            }
        }   
        .dragging {
            scroll-behavior: auto;
            cursor: grab;
        }
        i {
            position: absolute;
            background-color: lighten(#E69349, 10%) ;
            color: variable.$main-color;
            height: 46px;
            width: 46px;
            line-height: 46px;
            cursor: pointer;
            font-size: 1.2rem;
            text-align: center;
            border: 1px solid variable.$main-color;
            border-radius: 50%;
            top: 50%;
            &:first-child {
                left: 0;
                display: none;
            }
            &:last-child {
                right: 0;

            }
        }
    }

}

#products {
    margin: 0 2rem;
    .menu-products{
        @include mixin.display(flex, center, center);
        button {
            padding: 1rem;
            margin-right: 1rem;
        }
    }
    .product-container{
        @include mixin.display(grid, center, center);
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        column-gap: 1rem;
        row-gap: 2rem;
        position: relative;
        .product-section-title {
            grid-column: 1 / -1;
            z-index: -1;
            position: sticky;
            top: 0;
            left: 0;
            font-size: 3rem;
            text-transform: lowercase;
            margin: 1.5rem 0 1rem 0;
            opacity: 0.5;
            color: variable.$secondary-color;
        }
        .product{
            text-align: center;
            img{
                width: 350px;
                height: 350px;
                object-fit: contain;
                padding: 2rem;
                border-radius: 10px;
                background-color: variable.$main-color;
                &:hover{
                    background-color: variable.$secondary-color;
                }
            }
            .product-description{
                span {
                    @include mixin.font("'Vollkorn', serif", 700, 1.3rem);
                }
            }
            .product-cart {
                margin-top: 1rem;
                background-color: lighten(variable.$secondary-color, 15%);
                a{
                    text-decoration: none;
                    &:hover{
                        color: variable.$main-color;
                    }
                }
            }
            
        }
        
    }
}

#contact {
    margin: 1.5rem;
    p {
        max-width: 600px;
        margin: 0 auto;
    }
    article {
        position: relative;
        margin: 0 auto;
        max-width: 700px;
        form {
            border: 2px solid variable.$main-color;
            @include mixin.display(flex, flex-end, center);
            flex-direction: column;
            border-radius: 0;
            padding: 1rem;
            margin: 1rem 0;
            input, textarea {
                width: 90%;
                max-width: 500px;
                margin: 1.5rem;
                padding: 0.5rem;
                background-color: transparent;
                color: variable.$main-color;
                border: none;
                border-bottom: 2px solid variable.$main-color;
                border-radius: 0;
                outline: none;
                @include mixin.font("'Rowdies', cursive;", 400, 1.2rem);
            }
            textarea {
                border: 2px solid variable.$main-color;
                background-color: variable.$background-color;
                resize: none;
                color: variable.$main-color;
            }
            input:focus{
                border-bottom: 2px solid variable.$secondary-color;
            }
            textarea:focus {
                border: 2px solid variable.$secondary-color;
            }
            input::placeholder, textarea::placeholder {
                color: variable.$main-color;
            }
        }
        button {
            background-color: lighten(variable.$secondary-color, 10%);
            &:hover {
                background-color: lighten(variable.$secondary-color, 15%);
            }
        }
        img{
            position: absolute;
            height: 300px;
            bottom: 0;
            right: -20px;

        }
    }
}

footer {
    border-top: 2px solid variable.$main-color;
    margin: 3rem 2rem 0 2rem;
    ul{ 
        @include mixin.display(flex, center, center);
        margin: 1rem 0;
        li {
            list-style-type: none;
            padding: 0.5rem 1rem;
            a{
                text-decoration: none;
            }
        }
    }
    
}

@media (max-width: 1399.98px) {
    body{
        font-size: 18px;
    }
}

@media (max-width: 1199.98px) {
    #slider {
        padding: 10rem 0;
        .wrapper {
            max-width: 900px;
            .carousel img {
            width: calc(100%/2)
            }
        }
    }
}

@media (max-width: 767.98px) {
    header{
        .mobile-nav-toggle {
            display: block;
            position: fixed;
            height: 5px;
            aspect-ratio: 1;
            top: 1rem;
            right: 0;
            padding: 1rem;
            margin: 15px;
            z-index: 9999;
            border: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url(../img/bars-solid.svg);
            background-repeat: no-repeat;
        }
        nav{
            .primary-navigation{
                margin-top: 0;
                border-radius: 0;
                inset: 0 0 0 40%;
                position: fixed;
                flex-direction: column;
                padding: min(30vh, 10rem) 2rem;
                transform: translateX(100%);
                li{
                    padding: 1rem;
                    width: 100%;
                    text-align: center;
                }
            }
            
        }
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
        transition: 0.3s ease-in;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../img/x-solid.svg);
    }
    #hero{
        #hero-container {
            grid-template-columns: 1fr; 
        }
    }
    #characteristics {
        article {
            flex-direction: column;
        }
    }
    #slider .wrapper {
        max-width: 400px;
        .carousel img {
        width: 100%;
        }
    }
    #products {
        .menu-products{
            flex-direction: column;
            justify-content: left;
            button {
                width: 70%;
                margin: 0;
                margin-top: 10px;
        }
        }
    }
}

@media (max-width: 575.98px) {
    #hero{
        #hero-container {
    
            article:first-child {
                h1 { 
                    font-size: 2.5rem; 
                    line-height: 2.5rem*1.2;
                }
                button {
                    margin-top: 0.5rem;
                    scale: 0.8;
                }
            }
        }
    }
    #contact {
        article {
            figure {
                display: none;
            }
        }
    }

}