@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5F0DC;
  font-family: "Rowdies", cursive;
  color: #314F2F;
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
}

a:active, a:visited {
  color: #314F2F;
  text-decoration: none;
}

a:hover {
  color: #E69349;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 100px;
}
header figure img {
  width: 7rem;
}
header .mobile-nav-toggle {
  display: none;
}
header nav {
  text-transform: uppercase;
}
header nav .primary-navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(245, 240, 220, 0.7);
  padding: 30px 0;
  margin-top: 20px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .primary-navigation li {
  margin-left: 10px;
  list-style-type: none;
}
header nav .primary-navigation li a {
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  color: #314F2F;
}
header nav .primary-navigation li a:after {
  position: absolute;
  content: "";
  background-color: #E69349;
  height: 3px;
  width: 0;
  top: 1.8rem;
  left: 0;
  transition: 0.5s;
}
header nav .primary-navigation li a:hover:after {
  width: 100%;
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  header nav .primary-navigation {
    background-color: rgba(245, 240, 220, 0.5);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
  }
}
#hero {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  height: 550px;
  max-width: 1600px;
  margin: 0 auto;
}
#hero article:first-child h1 {
  padding: 0 5px 0 3rem;
  font-family: "'Rowdies', cursive;";
  font-weight: 700;
  font-size: 3rem;
}
#hero article:first-child h1 strong {
  font-family: "Vollkorn", serif;
  font-style: italic;
}
#hero article:first-child button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #314F2F;
  font-weight: 700;
  border: 2px solid #314F2F;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 0 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
#hero article:first-child button::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #ecae76;
  transition: 0.5s ease-in-out;
  z-index: -1;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
}
#hero article:first-child button:hover::before {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
#hero article:nth-child(2) {
  position: relative;
  height: 100%;
}
#hero article:nth-child(2) img:first-child {
  position: absolute;
  right: -150px;
  height: 600px;
  width: 100%;
  z-index: -10;
}
#hero article:nth-child(2) img:nth-child(2) {
  position: absolute;
  bottom: -20px;
  z-index: -9;
  height: 350px;
}
#hero article:nth-child(2) img:nth-child(3) {
  position: absolute;
  z-index: -8;
  width: 500px;
  bottom: -60px;
  right: 80px;
}
#hero article:nth-child(2) img:nth-child(4) {
  position: absolute;
  height: 150px;
  left: 550px;
  z-index: -7;
}

#characteristics h2 {
  position: relative;
  text-align: center;
  margin: 6rem 0 2rem 0;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #314F2F;
  font-size: 2rem;
}
#characteristics article {
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: center;
  font-family: "Vollkorn", serif;
}
#characteristics article div {
  max-width: 500px;
}
#characteristics article div img {
  height: 150px;
}

.wrapper, .carousel {
  white-space: nowrap;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 15rem 0;
  background-image: url("../img/background-lines.PNG");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#slider .wrapper {
  max-width: 1200px;
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
}
#slider .wrapper .carousel img {
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 14px;
  width: 33.3333333333%;
}
#slider .wrapper .carousel img:first-child {
  margin-left: 0;
}
#slider .wrapper .dragging {
  scroll-behavior: auto;
  cursor: grab;
}
#slider .wrapper i {
  position: absolute;
  background-color: #ecae76;
  color: #314F2F;
  height: 46px;
  width: 46px;
  line-height: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #314F2F;
  border-radius: 50%;
  top: 50%;
}
#slider .wrapper i:first-child {
  left: 0;
  display: none;
}
#slider .wrapper i:last-child {
  right: 0;
}

footer {
  border-top: 2px solid #E69349;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer li {
  list-style-type: none;
  padding: 0.5rem;
}
footer li a {
  text-decoration: none;
}

@media (max-width: 1399.98px) {
  body {
    font-size: 16px;
  }
  #hero article:nth-child(2) img:first-child {
    right: -80px;
    height: 550px;
  }
  #hero article:nth-child(2) img:nth-child(2) {
    height: 300px;
  }
  #hero article:nth-child(2) img:nth-child(3) {
    width: 400px;
    right: 10px;
  }
  #hero article:nth-child(2) img:nth-child(4) {
    left: 400px;
  }
}
@media (max-width: 1199.98px) {
  #hero {
    max-width: 1000px;
    height: 450px;
  }
  #hero article:nth-child(2) img:first-child {
    overflow: hidden;
    top: 30px;
    left: 10px;
    height: 450px;
    width: 900px;
  }
  #hero article:nth-child(2) img:nth-child(2) {
    height: 250px;
    bottom: -10px;
  }
  #hero article:nth-child(2) img:nth-child(3) {
    width: 280px;
    right: 10px;
    bottom: -20px;
  }
  #hero article:nth-child(2) img:nth-child(4) {
    left: 350px;
    height: 120px;
  }
  #slider {
    padding: 10rem 0;
  }
  #slider .wrapper {
    max-width: 900px;
  }
  #slider .wrapper .carousel img {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  header .mobile-nav-toggle {
    display: block;
    position: absolute;
    width: 1.5rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/bars-solid.svg);
    background-repeat: no-repeat;
  }
  header nav .primary-navigation {
    margin-top: 0;
    border-radius: 0;
    inset: 0 0 0 40%;
    position: fixed;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
  header nav .primary-navigation li {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../img/x-solid.svg);
  }
  #hero {
    display: block;
    max-width: 600px;
  }
  #hero h1 {
    z-index: 10;
  }
  #hero article:nth-child(2) img:first-child {
    top: -150px;
    left: 10px;
  }
  #hero article:nth-child(2) img:nth-child(2) {
    height: 200px;
    bottom: 200px;
    left: 3rem;
  }
  #hero article:nth-child(2) img:nth-child(3) {
    width: 250px;
    right: 20px;
    bottom: 200px;
  }
  #hero article:nth-child(2) img:nth-child(4) {
    left: 420px;
    height: 120px;
    top: -160px;
  }
  #characteristics article {
    flex-direction: column;
  }
  #slider .wrapper {
    max-width: 400px;
  }
  #slider .wrapper .carousel img {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
  #hero h1 {
    font-size: 2.5rem;
  }
  #hero article:nth-child(2) img:nth-child(2) {
    height: 200px;
    top: 50px;
    left: 20px;
  }
  #hero article:nth-child(2) img:nth-child(3) {
    height: 100px;
    top: 150px;
    right: 10px;
  }
  #hero article:nth-child(2) img:nth-child(4) {
    top: -150px;
    left: 300px;
  }
  #slider {
    padding: 8rem 0;
  }
}/*# sourceMappingURL=styles.css.map */