@use "_variables" as variable;
@use "_mixins" as mixin;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variable.$background-color;
    font-family: 'Rowdies', cursive;
    color: variable.$main-color;
    font-size: 20px;
    width: 100%;
    overflow-x: hidden;
    
    
}

a:active, a:visited {
    color: variable.$main-color;
    text-decoration: none;
}

a:hover{
    color: variable.$secondary-color;
}

nav {
    text-transform: uppercase;
    @include mixin.display(flex, center, center);
    flex-direction: column;
    border-bottom: 1px solid variable.$secondary-color;
    div {
        width: 100%;
        @include mixin.display(grid, center, center);
        grid-template-columns: 1fr 4fr 1fr;
        #language{ 
            margin: 0 3rem;
            padding: 0 5px;
        }
        figure {
            @include mixin.display(flex, center, center);
            img {
                width: 200px;
                padding: 20px;
            }
        }
        ul{
            width: 100%;
            @include mixin.display(flex, right, center);
            li{
                list-style-type: none;
                margin: 0 3rem;
                padding: 0 5px;
            }
        }   
    }
    #menu {
        position: sticky;
        width: 100%;
        @include mixin.display(flex, space-between, center);
        li{
            margin: 0 3rem;
            list-style-type: none;
            padding-bottom: 20px;
            a {
                position: relative;
                text-decoration: none;
                color: variable.$main-color;
                padding: 0 5px;
                &:after {
                    position: absolute;
                    content: "";
                    background-color: variable.$secondary-color;
                    height: 3px;
                    width: 0;
                    top: 1.8rem;
                    left: 0;
                    transition: 0.5s;
                }
                &:hover:after {
                    width: 100%
                }
            }
            

        }
    }
}

#hero {
    @include mixin.display(grid, center, center);
    grid-template-columns: 1fr 2fr;
    height: 550px;
    max-width: 1600px;
    margin: 0 auto;
    article:first-child {
        h1{
            padding: 0 5px 0 3rem;
            @include mixin.font("'Rowdies', cursive;", 700, 3rem);
            strong{
                font-family:'Vollkorn', serif;
                font-style: italic;
            }
        }
        button {
            position: relative;
            cursor: pointer;
            background-color: transparent;
            color: variable.$main-color;
            font-weight: 700;
            border: 2px solid variable.$main-color;
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 1rem 0 0 3rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            &::before {
                position: absolute;
                content:"";
                inset: 0;
                background-color: lighten(variable.$secondary-color, 10%);
                transition: 0.5s ease-in-out;
                z-index: -1;
                clip-path: circle(0% at 50% 50%);
            }
            &:hover::before{
                clip-path: circle(100% at 50% 50%);
            }
        }

    }
    article:nth-child(2) {
        position: relative;
        height: 100%;
        img:first-child{
            overflow: hidden;
            position: absolute;
            right: -150px;
            height: 600px;
            width: 100%;
            z-index: -10;
            
        }
        img:nth-child(2){
            position: absolute;
            bottom: -20px;
            z-index: -9;
            height: 350px;
        }
        img:nth-child(3){
            position: absolute;
            z-index: -8;
            width: 500px;
            bottom: -60px;
            right: 80px;
        }
        img:nth-child(4){
            position: absolute;
            height: 150px;
            left: 550px;
            z-index: -7;
        }
    }
}

#characteristics {
    h2 {
        position: relative;
        text-align: center;
        margin: 6rem 0 2rem 0;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px variable.$main-color;
        font-size: 2rem;
    }
    article {
        margin: auto;
        padding: 1rem;
        @include mixin.display(flex, center, center);
        column-gap: 3rem;
        text-align: center;
        font-family:'Vollkorn', serif;;
        div {
            max-width: 500px;
            img{
                height: 150px;
            }
        }
    }
}

.wrapper, .carousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

#slider {
    @include mixin.display (flex, center, center);
    margin: 4rem 0;
    padding: 15rem 0;
    background-image: url("/img/background-lines.PNG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper{
        max-width: 1200px;
        position: relative;
        flex-direction: column;
        padding: 1.5rem;
        .carousel {
            img {
                height: 340px;
                object-fit: cover;
                margin-left: 14px;
                width: calc(100% / 3);
                &:first-child{
                    margin-left: 0;
                }
            }
        }   
        .dragging {
            scroll-behavior: auto;
            cursor: grab;
        }
        i {
            position: absolute;
            background-color: lighten(#E69349, 10%) ;
            color: variable.$main-color;
            height: 46px;
            width: 46px;
            line-height: 46px;
            cursor: pointer;
            font-size: 1.2rem;
            text-align: center;
            border: 1px solid variable.$main-color;
            border-radius: 50%;
            top: 50%;
            &:first-child {
                left: 0;
                display: none;
            }
            &:last-child {
                right: 0;

            }
        }
    }

}


@media (max-width: 1399.98px) {
    body{
        font-size: 16px;
    }
    #hero {
        article:nth-child(2) {
            img:first-child{
                right: -80px;
                height: 550px;
            }
            img:nth-child(2){
                height: 300px;
            }
            img:nth-child(3){
                width: 400px;
                right: 10px;
            }
            img:nth-child(4){
                left: 400px;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    #hero {
        max-width: 1000px;
        height: 450px;
        article:nth-child(2) {
            img:first-child{
                overflow: hidden;
                top: 30px;
                left: 10px;
                height: 450px;
                width: 900px;
            }
            img:nth-child(2){
                height: 250px;
                bottom: -10px;
            }
            img:nth-child(3){
                width: 280px;
                right: 10px;
                bottom: -20px;
            }
            img:nth-child(4){
                left: 350px;
                height: 120px;
            }
            
        }
    }
    #slider {
        padding: 10rem 0;
        .wrapper {
            max-width: 900px;
            .carousel img {
            width: calc(100%/2)
            }
        }
    }
}

@media (max-width: 767.98px) {
    #hero {
        display: block;
        max-width: 600px;
        h1{
            z-index: 10;
        }
        article:nth-child(2) {
            img:first-child{
                top: -150px;
                left: 10px;
            }
            img:nth-child(2){
                height: 200px;
                bottom: 200px;
                left: 3rem;
            }
            img:nth-child(3){
                width: 250px;
                right: 20px;
                bottom: 200px;
            }
            img:nth-child(4){
                left: 420px;
                height: 120px;
                top: -160px;
            }
        }
    }
    #characteristics {
        article {
            flex-direction: column;
        }
    }

    #slider .wrapper {
        max-width: 400px;
        .carousel img {
        width: 100%;
        }
    }
}

@media (max-width: 575.98px) {
    body {
        font-size: 14px;
    }
    #hero{
        h1 {
            font-size: 2.5rem;
        }
        article:nth-child(2) {
            img:nth-child(2){
                height: 200px;
                top: 50px;
                left: 20px;
            }
            img:nth-child(3){
                height: 100px;
                top: 150px;
                right: 10px;
            }
            img:nth-child(4){
                top: -150px;
                left: 300px;
                
            }
        }
        
    }
    #slider {
        padding: 8rem 0;
    }
}